@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Lobster&family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

html {
  font-size: 5vmin;
}

a {
  text-decoration: none;
}

@media (min-width: 600px), (min-height: 600px) {
  html {font-size: 4vmin;}
}

@media (min-width: 750px), (min-height: 750px) {
  html {font-size: 3vmin;}
}

@media (min-width: 100px) {
  html {
    font-size: 16px;
  }
}